@model MontagemCurriculo.Models.Objetivo

@{
    ViewData["Title"] = "Atualizar objetivo";
}

<div class="formulario">
    <h4>Atualizar objetivo</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ObjetivoId" />

                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <textarea asp-for="Descricao" class="form-control"></textarea>
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                
                <input asp-for="CurriculoId" type="hidden" />

                <div class="form-group">
                    <input type="submit" value="Atualizar" class="btn btn-primary" />
                    <a asp-action="Details" asp-controller="Curriculos" asp-route-id="@Model.CurriculoId">Voltar</a>
                </div>

            </form>
        </div>
    </div>
</div>